/* Estilos gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "IBM Plex Mono" sans-serif;
}

main {
    padding-top: 60px;
    padding-bottom: 60px;
}

/* Estilos para o cabeçalho */
.header  {
    background: #5300C8;
    color: #fff;
    width: 100%;
    height: 96px;
    text-align: center;   
}

header:hover {
    background: #1903c6;
    transition: all .4s;
    cursor: pointer;
}
 
img {
    max-width: 100%; 
    display: block; 
    margin: 20px auto; 
}

h1 {
    display: flex;
    font-family: "Press Start 2P";
    margin-bottom: 24px;
    justify-content: center;
}

p {
    text-align: left;
}

/* Estilo para seção de produtos */
.container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    text-align: center;
}

.produtos-container {
    max-width: 100%;
    height: auto;
}

.card {
    background: #1903c6;
    color: #ffffff;
    width: 196px;
    height: 258px;
    border-radius: 10px;
    gap: 10px;
    border: 2px solid #000;
    align-items: center;
    top: 20px;
    left: 20px;
    padding: 10px 0px 10px 0px;
    margin-bottom: 30px;
    grid-template-columns: repeat(3, 1fr);
    box-shadow: -12px 9px 5px -4px rgba(0, 0, 0, 0.39);
}

.card p {
    margin: 10px 10px;
}

.card img {
    display: block;
    margin: 0 auto;
    width: 176px;
    height: 174px;
    margin-bottom: 5px;
    border-radius: 10px;
    border: 2px;
    border: 2px solid #000;
    gap: 8px;
}

.card:hover {
    background-color: #5300C8;
    color: #ffffff;
}

.meus-produtos h1,
.produtos-container h1 {
    font-family: "Press Start 2P";
    font-size: 30px;
    font-weight: 700;
}

.produtos {
    display: grid;
    padding: 20px;
    padding-top: 40px;
    width: 678px;
    height: auto;
    box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.3);
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px 0px;
    overflow: auto;
    gap: 25px;
    box-shadow: -12px 9px 5px -4px rgba(0, 0, 0, 0.39);
}

.produtos img {
    align-items: center;
    width: 176px;
    height: 174px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.card-container--value {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
}

.card-container--value img {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 24px;
    height: 24px;
    margin-right: 10px;
    border: none;
}

.excluir {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.excluir:hover,
.editar:hover {
    color: #ffffff;
    background-color: #e50b36;
}

.input-group {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 20px;
}

.button-group {
    flex: 0; 
}

input {
    color: #03318c;
    border: 2px solid #03318c;
    font-family: "IBM Plex Mono";
    font-weight: 700;
    border-radius: 40px;
    padding-left: 10px;
    width: 400px;
    height: 70px;
    margin-bottom: 25px;
}

button {
    color: #03318c;
    font-family: "IBM Plex Mono";
    font-size: 20px;
    font-weight: 500;
    align-items: center;
    text-align: center;
    width: 196px;
    height: 60px;
    border-radius: 20px;
    margin-bottom: 15px;
}

button:hover {
    background-color: #03318c;
    color: #ffffff;
    cursor: pointer;
}

.input-group ::placeholder,
.button-group ::placeholder,
input {
    color: #03318c;
    justify-content: center;
}

.adicionar-produtos {
    padding-left: 50px;
}

.guardar {
    background-color: #03318c;
    color: #fff;
    border: 2px solid #03318c;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    cursor: pointer;
}

.guardar:hover {
    background-color: #ffffff;
    color: #1903c6;
    border: 2px solid #1903c6;
}

.limpar {
    background-color: #ffffff;
    color: #1903c6;
    border: 2px solid #03318c;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

#form-produto {
    max-width: 1110px;
    margin: 0 auto; 
}

#form-produto button {
    align-items: center;
    cursor: pointer;
}

/* Estilo para o rodapé */
.rodape {
    background: #1903c6;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: auto;
    height: 232px;
}

footer p, a {
    color: #fff;
    line-height: 2;
    text-align: center;
    text-decoration: none;
}

/* Estilos para outros tamanhos de tela */

@media screen (max-width: 1110px) {

    header,
    footer {
        width: auto;
    }

    .container {
        display: flex;
        flex-direction: column-reverse;
        width: auto;
        align-items: center;
        text-align: center;
        overflow: auto;
    }

    .produtos {
        grid-template-columns: repeat(3, 1fr);
        text-align: center;
        width: auto;
        gap: 6px;
    }
 
    .guardar, .limpar {
        align-items: center;
        width: 234px;
    }
}

@media (min-width: 430px) and (max-width: 827px) {
    .container {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: auto;
    }

    .produtos {
        grid-template-columns: repeat(2, 1fr);
        text-align: center;
        width: 100%;
        height: 100vh;
        gap: 16px;
    }

    #form-produto {
        display: block;
        align-items: center;
        text-align: center;
        padding-bottom: 50px;
        width: auto;
    }
   
    .guardar, .limpar {
        align-items: center;
        width: 210px;
    }
}
